<h1>Cocktails#index</h1>
<p>Your list of cocktails: </p>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %></li>
  <% end %>
</ul>

<%= cl_image_tag("Cocktail1_o6xnvw",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("cocktail2_y4hjvv",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>